<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Gerenciador de Músicas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        {% include 'menu.html' %}
    </header>

    <main>
        {% with mensagens = get_flashed_messages(with_categories=true) %}
            {% if mensagens %}
                <div class="flash">
                {% for categoria, mensagem in mensagens %}
                    <div class="{{ categoria }}">
                        <p>{{ mensagem }}</p>
                        <button onclick="this.parentElement.style.display='none';">X</button>
                    </div>
                {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
