{% extends "template.html" %}
{% block content %}
<h1>Cadastro de artista</h1>
<form action="{{ url_for('artista.inserir') }}" method="post">
    <div class="row">
        <label for="nome">Nome</label>
        <input type="text" name="nome" id="nome" autofocus required />
    </div>
    <div class="row">
        <label for="nacional">Nacional?</label>
        <select name="nacional" id="nacional">
            <option value="1">Sim</option>
            <option value="0">Não</option>
        </select>
    </div>
    <button type="submit">Cadastrar</button>
</form>
{% endblock %}
